<html>
	<body>
		<h1>
			Ahorcado
			<form method="POST" action="/">
			<input type="Ingrese la letra" id="letra" name="letra"/>
			<input type="submit" id ="aceptar" value="aceptar"/>
		</h1>
		<h1> Resultado: </h1>
		<%= @resultado%>
		</body>
</html>
