<html>
	<body>
		<h1>
			Ahorcado
			<form method="POST" action="/respuesta">
			<input type="Ingrese la letra" id="letra" name="letra"/>
			<input type="submit" id ="aceptar" value="aceptar"/>
		</h1>
	</body>
</html>

